node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
# Ignore build artifacts
/dist
/build
# Ignore Logs and temporary files
/logs
/tmp

# Ignore log files
*.log
